name: Deploy to AWS and EC2

on:
  push:
    branches:
      - main  # De패clenche la pipeline uniquement sur un push sur la branche main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

        #- name: Mettre a jour les paquets
        #run: sudo apt update && sudo apt upgrade -y

      - name: Installer OpenSSH Client
        run: sudo apt install -y openssh-client

      - name: Ajouter la cle패 prive패e SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" | base64 --decode > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}

      - name: De패ployer sur EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            cd ${{ secrets.WORK_DIR }}
            git pull origin main
          
            docker-compose down
          
            echo "游딈 Removing old Docker images..."
            docker image prune -af

            echo "游댣 Rebuilding and restarting containers..."
            docker-compose build --no-cache
            docker-compose up -d
          EOF

        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          WORK_DIR: ${{ secrets.WORK_DIR }}


      - name: Nettoyer le re패pertoire SSH
        run: rm -rf ~/.ssh